textarea {
	font: normal 14px Arial, Helvetica, sans-serif !important;
    color: inherit !important;
    background: white !important;
}
.lwe-editable-textarea {
    margin: inherit !important;
    padding: inherit !important;
	font: normal 13px Arial, Helvetica, sans-serif !important;
    color: inherit !important;
    background: inherit !important;
    border: inherit !important;
}
.lwe-editable:hover {
    background: rgba(0, 0, 0, 0.2) !important;
}
#everywhere-lwe-iframe-background {
    z-index:1000000 !important;
    position: absolute !important;
    width: 100% !important;
    height: 30px !important;
    top: 0px !important;
    left: 0px !important;
    background: rgba(0, 0, 0, 1.0) !important;
    display:none;
}
#everywhere-lwe-iframe {
    z-index:1000000 !important;
    position: fixed !important;
    width: 100% !important;
    height: 30px !important;
    top: 0px !important;
    left: 0px !important;
    border: 0 !important;
    overflow: hidden !important;
    display:none;
}
#everywhere-lwe-toolbar {
    z-index: 1000000 !important;
    position: fixed !important;
    width: 100% !important;
    min-width: 600px !important;
    white-space: nowrap !important;
    height: 30px !important;
    top: 0px !important;
    left: 0px !important;
    background: rgba(0, 0, 0, 0.8) !important;
    /* background: rgba(129, 194, 39, 0.8) !important; */
    color: #ffffff !important;
    text-align: center !important;
	font: bold 16px Arial, Helvetica, sans-serif !important;
    /* -webkit-border-bottom-left-radius: 4px !important; */
    /* -webkit-border-bottom-right-radius: 4px !important; */
    display:none;
}
.everywhere-lwe-toolbar-button {
    cursor: pointer !important;
    background: #000;
    /* background: rgba(129, 194, 39, 0.8) !important; */
    margin: 2px !important;
    display: inline-block !important;
    padding: 5px !important;
    font: bold 12px Arial, Helvetica, sans-serif !important;
    color: #e3e3e3 !important;
    /* color: #000 !important; */
    text-decoration: none !important;
    line-height: 1 !important;
    -webkit-border-radius: 5px !important;
    -webkit-box-shadow: 0px 0px 0px #999 !important;
    /* text-shadow: 0 -1px 1px #222 !important; */
    /* border-bottom: 1px solid #222 !important; */
    border: 1px solid #ccc !important;
    position: relative !important;
    cursor: pointer !important;
}
.everywhere-lwe-toolbar-button-disable {
    background: #555 !important;
    color: #333 !important;
}
.everywhere-lwe-tip-close-button {
    position: relative !important;
    margin: 0px !important;
    padding: 0px !important;
    right: 0px !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 3px !important;
    float: right !important;
}
.everywhere-lwe-users {
    float: left;
}
.everywhere-lwe-users img {
    clear: both;
}
.everywhere-lwe-users span {
    clear: both;
}
#everywhere-lwe-toolbar-edit-button {
}
#everywhere-lwe-toolbar-original-button {
}
#everywhere-lwe-toolbar-editor-button {
    width: 100px !important;
}
.everywhere-lwe-toolbar-space {
    min-width: 100px !important;
}
.everywhere-lwe-dialog {
    display: table !important;
    z-index: 1000000 !important;
    background: rgba(0, 0, 0, 0.8) !important;
    top: 200px !important;
    position: absolute !important;
    width: 500px !important;
    min-height: 100px !important;
    max-height: 300px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    border-radius: 10px !important;
    /* padding: 10px !important; */
    color: #e3e3e3 !important;
}
#everywhere-lwe-edit-dialog {
    display: table !important;
    z-index: 1000000 !important;
    background: rgba(0, 0, 0, 0.8) !important;
    top: 100px !important;
    width: 300px !important;
    min-height: 100px !important;
    max-height: 300px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    border-radius: 10px !important;
    padding: 0px !important;
    color: #e3e3e3 !important;
}
#everywhere-lwe-share-dialog {
    z-index: 1000000 !important;
    background: rgba(0, 0, 0, 0.8) !important;
    top: 100px !important;
    width: 500px !important;
    height: 300px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    border-radius: 10px !important;
    padding: 10px !important;
}
.everywhere-lwe-dialog-textarea {
	font: normal 14px Arial, Helvetica, sans-serif !important;
    width: 400px !important;
    height: 100px !important;
    color: #e3e3e3 !important;
    background: transparent !important;
    margin: 10px !important;
    clear: both !important;
}
.everywhere-lwe-share-dialog-text {
    color: #e3e3e3 !important;
    padding: 10px 10px 20px !important;
}
.everywhere-lwe-dialog-title {
    /* display: table-row !important; */
	font: bold 15px Arial, Helvetica, sans-serif !important;
    background: rgba(0, 0, 0, 1.0) !important;
    height: 20px !important;
    color: #e3e3e3 !important;
    margin: 0px !important;
    padding: 5px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.everywhere-lwe-dialog-content {
    display: table !important;
    z-index: 1000000 !important;
    background: transparent !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    /* padding: 10px !important; */
    color: #e3e3e3 !important;
}
.everywhere-lwe-dialog-text {
}
.everywhere-lwe-dialog-buttons {
    width: 500px !important;
    margin: 10px !important;
    clear: both !important;
    right: 0px !important;
}
#everywhere-lwe-share-dialog-close-button {
    clear:both !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    /* max-height: 200px !important; */
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
#everywhere-lwe-share-dialog-online-users {
	font: normal 10px Arial, Helvetica, sans-serif !important;
}
.everywhere-lwe-share-dialog-online-user {
    margin: 3px !important;
    float: left !important;
}
.everywhere-lwe-share-dialog-online-user-noshared {
	border: none !important;
}
.everywhere-lwe-share-dialog-online-user-shared {
	border: 3px solid white !important;
    border-radius: 4px !important;
}
#everywhere-lwe-share-dialog-online-user img {
	width: 40px !important; 
	height: 40px !important; 
	border: none !important; 
    border-radius: 4px !important;
    clear:both !important;
}
#everywhere-lwe-share-dialog-online-user div{
    clear:both !important;
}

.everywhere-lwe-tip-title {
	font: bold 14px Arial, Helvetica, sans-serif !important;
    background: rgba(0, 0, 0, 0.8) !important;
    color: #e3e3e3 !important;
    margin: 0px !important;
    padding: 10px !important;
    float: left !important;
}

.everywhere-lwe-tip {
	font: normal 14px Arial, Helvetica, sans-serif !important;
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 4px !important;
    color: #e3e3e3 !important;
    position: fixed !important;
    min-width: 200px !important;
    max-width: 400px !important;
    padding: 10px !important;
}

.everywhere-lwe-tip-original-text {
}

.everywhere-lwe-tip-title {
	/* font: bold 14px Arial, Helvetica, sans-serif !important; */
    background: transparent !important;
    /* color: #e3e3e3 !important; */
    /* padding: 10px !important; */
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 10px !important;
    /* float: left !important; */
}

.everywhere-lwe-tip-text {
	/* font: bold 14px Arial, Helvetica, sans-serif !important; */
    background: transparent !important;
    border-radius: 4px !important;
    /* color: #e3e3e3 !important; */
    padding: 10px !important;
    float: left !important;
}

.everywhere-lwe-dialog-center {
    display: table-row !important;
    /* position: inherit !important; */
    /* text-align: center !important; */
    /* left: auto !important; */
    /* right: auto !important; */
    /* align: center !important; */
    /* padding-left: 50px !important; */
    /* padding-right: 50px !important; */
    padding: 10px !important;
    margine-left: 0px !important;
    vertical-align: middle !important;
    clear: both !important;
    float: none !important;
}

.everywhere-lwe-dialog-button-big {
	/* font: normal 20px Helvetica, Arial, sans-serif !important; */
    float: left !important;
    width: 100px !important;
    height: 50px !important;
}

.everywhere-lwe-dialog-text {
    float: left !important;
    margin: 10px !important;
    padding: 10px !important;
}

.everywhere-lwe-button-disabled {
    color: #333;
    background: #555;
}