body {
/*    font: 11px Arial, Helvetica, sans-serif;
	background: #ffffff url(images/main-bg.gif);
	padding: 0;
	margin: 0;*/
}

#menu-button {
    z-index: 20000;
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 0px;
    right: 0px;
    background: rgba(34, 37, 42, 0.8);
    color: #ffffff;
    cursor: hand;
    text-align: center;
	font: bold 16px Arial, Helvetica, sans-serif;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
}

#counter {
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

/* dock - top */
.dock {
    height: 0px;
	text-align: center;
}
.dock-container {
	/* position: absolute; */
	/* height: 50px; */
	/* padding-left: 20px; */
}
a.dock-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center !important;
	text-decoration: none !important;
	font: bold 12px Arial, Helvetica, sans-serif !important;
}
.dock-item img {
	border: none; 
	/* margin: 5px 10px 0px;  */
	width: 100%; 
}
.dock-item span {
	display: none; 
	/* padding-left: 20px; */
}

/* dock2 - bottom */
#dock2 {
	position:fixed !important;
    /*
	bottom:0px !important;
	left:0px !important;
	right:0px !important;
	height:0px !important;
	background:rgba(0,255,0,0) !important;
	border-top   :12px solid rgba(0, 255, 0, 0.01) !important;
	border-bottom: 1px solid rgba(0, 255, 0,    1) !important;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;*/
	/* width: 100%; */
	bottom: 0px;
	/* position: absolute; */
	right: 30px;
}
.dock-container2 {
    z-index: 10000;
    background: rgba(255,0,0,0.2);
    bottom: 0px;
	height: 30px;
	/* padding-left: 20px; */
	/* margin-right: 0px; */
    position: absolute;
    /* padding-right: 0px; */
}
a.dock-item2 {
 	display: block;
	width: 40px;
	bottom: 0px;
	position: absolute;
	text-align: center;
	text-decoration: none !important;
}
.dock-item2 span {
	display: none;
	/* padding-left: 20px; */
}
.dock-item2 img {
	border: none; 
	/* margin: 5px 10px 0px;  */
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
	width: 100%; 
}
/* .message { */
/*     width: 200px; */
/*     height: 100px; */
/*     -webkit-border-top-left-radius: 6px; */
/*     -webkit-border-top-right-radius: 6px; */
/*     -webkit-border-bottom-left-radius: 6px; */
/*     -webkit-border-bottom-right-radius: 6px; */
/* /\* 	transition:all 0.3s ease-in-out; *\/ */
/*     bottom: 40px; */
/* } */
.reply {
    color: #0000ff !important;
}

/* .qtip-title { */
/*     font: 'bold 15px Arial, Helvetica, sans-serif' */
/* } */

/* .qtip-button { */
/*     float: right !important; */
/*     position: relative !important; */
/*     cursor: pointer !important; */
/*     font: 'bold 15px Arial, Helvetica, sans-serif' !important; */
/*     color: 'blue' !important; */
/* } */

/* .qtip-button2 { */
/*     float: right !important; */
/*     position: relative !important; */
/*     cursor: pointer !important; */
/*     font: 'bold 15px Arial, Helvetica, sans-serif' !important; */
/*     color: 'blue' !important; */
/* } */


.ui-tooltip-light {
    width: 200px;
    font: 15px Helvetica, Arial, sans-serif !important;
}

.ui-tooltip-title {
    font: bold 15px Helvetica, Arial, sans-serif !important;
}

.ui-tooltip-button {
/*     float: right; */
/*     position: relative; */
    text-align: right;
    font: bold 15px Helvetica, Arial, sans-serif !important;
    cursor: pointer;
    color: blue;
}
/*       name: 'light', */
/*       width: 200, */
/*       padding: 2, */
/*       background: 'white', */
/*       color: 'black', */
/*       font: '15px Arial, Helvetica, sans-serif', */
/*       textAlign: 'left', */
/*       border: { width: 1, radius: 2, color: 'silver' }, */
/*       tip: { corner: 'bottomRight' } */
/*     }, */

#ui-tooltip-log {
    width: 200px;
}

div.log {
    overflow: scroll;
}

.log-message {
    boader-color: #ffffff;
    boader-bottom-style: dotted;
    padding: 2px;
    /* max-height: 300px; */
}

.log-user-image {
    padding: 1px;
}

.log-user-image img {
    float: left;
    padding-right: 2px;
}

.log-username {
    font-weight: bold;
    padding: 1px;
}

.log-text {
    padding: 1px;
}
